<article class="vacancy-card">
    <div class="vacancy-card__wrapper">
        <@titleTag class="vacancy-card__title">@title</@titleTag>
        <span class="vacancy-card__subtitle">@subtitle</span>
        <div class="vacancy-price">
            <div class="vacancy-price__item">
                <span class="vacancy-price__key">Заработная плата</span>
                <span class="vacancy-price__value"><b>@income</b></span>
            </div>
            <div class="vacancy-price__item">
                <span class="vacancy-price__key">Занятость</span>
                <span class="vacancy-price__value"><b>@employment</b></span>
            </div>
        </div>
    </div>
    <div class="vacancy-card__actions">
        <button class="vacancy-card__button button button--fill" data-graph-path="modal-vacancy-form" aria-controls="modal-vacancy-form" type="button">
            Откликнуться
        </button>
        <a class="vacancy-card__button button button--border" href="./vacancy.html">
            Подробнее
        </a>
    </div>
</article>