.rating {
	&__stars {
		@include flex-simple(8px, row-reverse);

		position: relative;
		justify-content: flex-end;

		&:not(:checked) {
			& > .rating__star:hover,
			& > .rating__star:hover ~ .rating__star {
				&::before {
					opacity: 1;
				}

				&::after {
					opacity: 0;
				}
			}
		}
	}

	&__hidden {
		@include hidden;

		&:checked {
			& ~ .rating__star,
			& + .rating__star:hover,
			& ~ .rating__star:hover,
			& ~ .rating__star:hover ~ .rating__star {
				&::before {
					opacity: 1;
				}

				&::after {
					opacity: 0;
				}
			}
		}

		&:focus-visible {
			& ~ .rating__star {
				box-shadow: 0 0 0 2px var(--color-red-500);
			}
		}
	}

	&__star {
		@include bg-properties(contain);

		position: relative;
		display: inline-block;
		border-radius: 2px;
		width: 24px;
		height: 24px;
		transition: box-shadow 0.3s;

		&::before,
		&::after {
			@include bg-properties(contain);

			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url('../img/icons/star.svg');
			transition: opacity 0.3s;
		}

		&::after {
			filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(243deg)
				brightness(97%) contrast(85%);
		}

		&::before {
			opacity: 0;
			filter: invert(82%) sepia(96%) saturate(495%) hue-rotate(302deg)
				brightness(82%) contrast(90%);
		}

		&:hover ~ .rating__hidden:checked ~ .rating__star {
			&::before {
				opacity: 1;
			}

			&::after {
				opacity: 0;
			}
		}
	}
}
