.useful-services {
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px;

		@include mq(lg) {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}

		@include mq(md) {
			grid-template-columns: 1fr;
		}
	}

	.service-card {
		picture {
			flex-basis: 54px;
			height: 54px;
		}

		picture,
		&__img {
			@include mq(lg) {
				display: none;
			}
		}
	}
}
