.queue-static {
	@include flex-alignment(24px, space-between, center);

	border-left: 1px solid var(--color-red-500);
	padding: 12px 80px 15px 16px;
	font-weight: 700;
	line-height: 1.2;

	@include mq(lg) {
		padding-right: 0;
	}

	@include mq(sm) {
		flex-wrap: wrap;
	}

	&__name {
		font-size: 14px;
	}

	&__value {
		font-size: 16px;
	}
}
