.search-card {
	border-bottom: 1px solid var(--color-grey-350);
	padding: 16px 0 8px;

	&__link {
		@include underline-effects;

		display: inline-block;
		font-size: 16px;
		color: var(--color-red-500);

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__breadcrumbs {
		@include flex-simple(20px);

		overflow-x: auto;
		padding-bottom: 8px;
		width: 100%;
		font-size: 12px;
	}

	&__item {
		white-space: nowrap;

		&:not(:last-child) {
			position: relative;

			&::before {
				content: '>';
				position: absolute;
				right: -14px;
				top: 0;
				font-size: inherit;
			}
		}

		a {
			@include color-effects;
		}
	}
}
