<div class="graph-modal">
    @include('./_modal-form.html', {
    'target': 'modal-feedback-form',
    'title': 'Оставьте Ваш отзыв о работе наших центров',
    'text': ['В соответствии с Федеральным законом от 02.05.2006 N59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации"'],
    'textareaPlaceholder': 'Напишите Ваш отзыв*'
    })

    @include('./_modal-form.html', {
    'target': 'modal-question-form',
    'title': 'Задайте Ваш вопрос',
    'text': ['В соответствии с Федеральным законом от 02.05.2006 N59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации"'],
    'textareaPlaceholder': 'Напишите Ваш вопрос*'
    })

    @include('./_modal-form.html', {
    'target': 'modal-vacancy-form',
    'title': 'Задайте Ваш вопрос',
    'text': ['В соответствии с Федеральным законом от 02.05.2006 N59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации"'],
    'textareaPlaceholder': 'Сопроводительный текст'
    })
</div>