<div class="graph-modal__container graph-modal__container--success" role="dialog" aria-modal="true" data-graph-target="@target" id="@target">
    <div class="graph-modal__box">
        <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно">
            <svg aria-hidden>
                <use xlink:href="img/sprite.svg#user">
            </svg>
        </button>
        <div class="graph-modal__text">
            <p>
                @text
            </p>
        </div>
    </div>
</div>