<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__items">
            <li class="breadcrumbs__prev">
                <a class="breadcrumbs__back" aria-label="Вернуться назад" href="#">
                    <svg aria-hidden>
                        <use xlink:href="img/sprite.svg#arrow-long">
                    </svg>
                </a>
            </li>
            @for (var i = 0; i < links.length - 1; i++) { <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">`+links[i]+`</a>
                </li>
                }
                @for (var i = links.length - 1; i < links.length; i++) { <li class="breadcrumbs__item"><span class="breadcrumbs__link" aria-current="page" aria-disabled>`+links[i]+`</span></li>
                    }
        </ul>
    </div>
</div>