<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <div class="decor-lines" aria-hidden></div>
            <span class="footer__column--copy footer__column">
                © КГКУ МФЦ Камчатского края, <br> 2016-2025
            </span>
            <ul class="footer__menu">
                <li class="footer__item">
                    <a class="footer__link" href="#">Услуги</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Центры и офисы</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Новости</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Вопросы и ответы</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Полезные сервисы</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Состояние очередей</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">О противодействии коррупции</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Телефонный справочник ведомств</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Документы</a>
                </li>
            </ul>
            <div class="footer__column footer__column--info">
                <div class="hotline">
                    <a class="hotline__link" href="tel:+74152302402">8 (4152) 302-402</a>
                    <span class="hotline__descr">Горячая линия</span>
                </div>
                <div class="download-info">
                    <div class="download-info__content">
                        <span>Скачайте бесплатное приложение МФЦ</span>
                        <a class="download-info__link" href="#">Скачать</a>
                    </div>
                    <div class="download-info__qr">
                        <img class="download-info__img" src="img/qr.svg" alt="QR код" width="48" height="48" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="container"></div>
<div id="vk_community_messages"></div>