<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <div class="header__top">
                <a class="logo" href="#">
                    <picture>
                        <source srcset="img/logos/logo.avif 1x, img/logos/logo@2x.avif 2x" type="image/avif">
                        <source srcset="img/logos/logo.webp 1x, img/logos/logo@2x.webp 2x" type="image/webp">
                        <img class="logo__img" src="img/logos/logo.png" srcset="img/logos/logo@2x.png 2x" alt="Логотип" width="238" height="78">
                    </picture>
                </a>
                <button class="burger-button" aria-controls="header-burger-menu" aria-label="Открыть меню" aria-expanded="false" data-burger-button>
                    <span class="burger-button__line" aria-hidden></span>
                </button>
            </div>
            <div class="header__inner">
                <div class="header__menu menu" id="header-burger-menu" data-menu>
                    <div class="menu__profile">
                        <span class="menu__name">Иванов В. Н.</span>
                        <button class="menu__logout" type="button">Выйти</button>
                    </div>
                    <!-- <a class="menu__private menu__private--mobile button button--fill" href="#">
                        Личный кабинет
                        <svg class="button__icon" aria-hidden>
                            <use xlink:href="img/sprite.svg#user">
                        </svg>
                    </a> -->
                    <ul class="menu__items">
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Услуги</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Центра и офисы</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Новости</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Вопросы и ответы</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Полезные сервисы</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Состояние очередей</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">О противодействии коррупции</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Телефонный справочник ведомств</a>
                        </li>
                        <li class="menu__item menu__item--mobile">
                            <a class="menu__link" href="#">Документы</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">О центре</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Вакансии</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="hotline">
                        <a class="hotline__link" href="tel:+74152302402">8 (4152) 302-402</a>
                        <span class="hotline__descr">Горячая линия</span>
                    </div>
                    <a class="bvi-open" href="#">
                        <svg aria-hidden>
                            <use xlink:href="img/sprite.svg#glasses">
                        </svg>
                        Версия для слабовидящих
                    </a>
                    <ul class="header__socials socials">
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" aria-label="ВКонтакте">
                                <svg class="socials__icon" aria-hidden>
                                    <use xlink:href="img/sprite.svg#vk">
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" aria-label="Телеграм">
                                <svg class="socials__icon" aria-hidden>
                                    <use xlink:href="img/sprite.svg#telegram">
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" aria-label="Одноклассники">
                                <svg class="socials__icon" aria-hidden>
                                    <use xlink:href="img/sprite.svg#classmates">
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__info">
                    <span class="header__name">
                        Многофункциональный центр Камчатского края
                    </span>
                    <div class="hotline">
                        <a class="hotline__link" href="tel:+74152302402">8 (4152) 302-402</a>
                        <span class="hotline__descr">Горячая линия</span>
                    </div>
                    <a class="menu__private button button--fill" href="#">
                        Личный кабинет
                        <svg class="button__icon" aria-hidden>
                            <use xlink:href="img/sprite.svg#user">
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <form class="form">
            <div class="header__search">
                <div class="select-mobile">
                    <button class="select-mobile__button" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="header-select-mobile-list" aria-label="выбрать, где искать">
                        <svg aria-hidden>
                            <use xlink:href="img/sprite.svg#sound">
                        </svg>
                    </button>
                    <div class="select-mobile__list">
                        <label class="select-mobile__item">
                            По всему сайту
                            <input class="select-mobile__hidden" type="radio" name="header-select" value="website" checked>
                        </label>
                        <label class="select-mobile__item">
                            По документам
                            <input class="select-mobile__hidden" type="radio" name="header-select" value="documents">
                        </label>
                    </div>
                </div>
                <div class="form__item header__select" id="header-select-mobile-list">
                    <label class="sr-only" for="header-search-category">
                        Где искать
                    </label>
                    <select name="header-select" id="header-search-category" data-choice>
                        <option value="website">
                            По всему сайту
                        </option>
                        <option value="documents">
                            По документам
                        </option>
                    </select>
                </div>
                <div class="form__item form__item--search">
                    <label class="sr-only" for="header-search">Введите ваше имя</label>
                    <input class="form__field" id="header-search" name="search" type="search" placeholder="Введите ваш запрос" required>
                    <button class="form__button" type="submit" aria-label="Найти">
                        <svg aria-hidden>
                            <use xlink:href="img/sprite.svg#search">
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</header>