<ul class="pagination">
    <li class="pagination__item pagination__item--prev">
        <a class="pagination__link pagination__link--disabled" aria-disabled>Назад</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">1</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link pagination__link--current" href="#" aria-current="page">2</a>
    </li>
    <li class="pagination__item pagination__item--desktop">
        <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
        <span class="pagination__link pagination__link--dots">...</span>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">15</a>
    </li>
    <li class="pagination__item pagination__item--next">
        <a class="pagination__link" href="#">Вперёд</a>
    </li>
</ul>