<div class="page-wrapper__menu side-menu">
    <ul class="side-menu__items">
        <li class="side-menu__item">
            <a class="side-menu__link" href="./personal.html">
                Личная информация
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="./applications.html">
                История обращений
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="./appointments.html">
                Предварительная запись
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="./feedback.html">
                Оценка качества
            </a>
        </li>
    </ul>
    <ul class="side-menu__items side-menu__items--links-block">
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Кабинет налогоплательшика
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#" target="_blank">
                Кабинет ЕПГУ
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#" target="_blank">
                Кабинет Россреестра
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#" target="_blank">
                Кабинет ПФР
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#" target="_blank">
                Фонд социального страхования
            </a>
        </li>
    </ul>
</div>