<div class="page-wrapper__menu side-menu">
    <ul class="side-menu__items">
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Личная информация
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                История обращений
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Предварительная запись
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Оценка качества
            </a>
        </li>
    </ul>
    <ul class="side-menu__items side-menu__items--links-block">
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Кабинет налогоплательшика
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Кабинет ЕПГУ
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Кабинет Россреестра
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Кабинет ПФР
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="#">
                Фонд социального страхования
            </a>
        </li>
    </ul>
</div>