<div class="schedule">
    <@titleTag class="schedule__title">
        График загруженности отделения
    </@titleTag>
    <ul class="schedule__items">
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 50%"></span>
            </span>
            <span class="schedule__subtitle">10:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 36%"></span>
            </span>
            <span class="schedule__subtitle">11:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 28%"></span>
            </span>
            <span class="schedule__subtitle">12:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 49%"></span>
            </span>
            <span class="schedule__subtitle">13:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 78%"></span>
            </span>
            <span class="schedule__subtitle">14:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 100%"></span>
            </span>
            <span class="schedule__subtitle">15:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 16%"></span>
            </span>
            <span class="schedule__subtitle">16:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 37%"></span>
            </span>
            <span class="schedule__subtitle">17:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 44%"></span>
            </span>
            <span class="schedule__subtitle">18:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 62%"></span>
            </span>
            <span class="schedule__subtitle">19:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 44%"></span>
            </span>
            <span class="schedule__subtitle">20:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 36%"></span>
            </span>
            <span class="schedule__subtitle">21:00</span>
        </li>
        <li class="schedule__item">
            <span class="schedule__pilar">
                <span class="schedule__line" style="height: 9%"></span>
            </span>
            <span class="schedule__subtitle">22:00</span>
        </li>
    </ul>
</div>