<div class="vacancy-info">
    <div class="vacancy-info__text">
        <p>
            Уважаемые кандидаты! В целях формирования кадрового резерва предлагаем вам направлять резюме на адрес электронной почты <a href="mailto:mfcpk@mfc.kamgov.ru">mfcpk@mfc.kamgov.ru</a>
        </p>
    </div>
    <a class="vacancy-info__button button button--fill" href="#" download>
        Образец резюме
        <svg aria-hidden>
            <use xlink:href="img/sprite.svg#contacts-book">
        </svg>
    </a>
</div>