.appointments-page {
	.tabs {
		&__nav-btn {
			border-radius: 55px;
			color: var(--color-brown-600);

			&--active {
				color: var(--color-red-500);
			}
		}
	}
}

.appointments-active {
	border-top: 1px solid var(--color-grey-500);
	padding-top: 16px;

	&__item {
		@include flex-alignment(40px, space-between);

		border-bottom: 1px solid var(--color-grey-500);
		padding-bottom: 16px;

		@include mq(md) {
			flex-wrap: wrap;
			gap: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__subtitle {
		margin-right: auto;
	}

	&__button {
		@include mq(md) {
			flex-grow: 1;
			flex-basis: 100%;
		}
	}
}

.appointments-pre {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;

		&:not(:last-child) {
			margin-bottom: 44px;

			@include mq(lg) {
				margin-bottom: 32px;
			}
		}

		@include mq(lg) {
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}

	&__footer {
		@include flex-simple(40px);

		justify-content: space-between;

		@include mq(lg) {
			flex-direction: column;
			justify-content: flex-start;
			gap: 32px;
		}
	}

	&__info {
		@include mq(lg, min) {
			flex-basis: 60%;
		}
	}

	&__submit {
		@include mq(lg, min) {
			flex-basis: 31%;
			align-self: flex-start;
		}
	}

	.form {
		&__hidden {
			&:checked {
				& + .form__visible {
					border-color: transparent;
					background-image: url('../img/icons/check.svg');
					background-color: var(--color-red-500);
				}
			}
		}

		&__visible {
			@include bg-properties(contain);

			display: inline-block;
			flex-shrink: 0;
			flex-basis: 16px;
			align-self: flex-start;
			border: 1px solid var(--color-grey-450);
			border-radius: 4px;
			background-color: transparent;
			transition: background-color 0.3s;
			aspect-ratio: 1 / 1;
		}
	}

	.choices {
		&.is-focused,
		&.is-open {
			.choices {
				&__inner {
					border-color: var(--color-grey-450);
					border-radius: 4px 4px 0 0;
				}

				&__list {
					&--dropdown,
					&[aria-expanded] {
						border: 1px solid var(--color-grey-420);
						border-top: 0;
						border-radius: 0 0 4px 4px;
						padding: 16px 4px 16px 8px;
					}
				}
			}
		}

		&[data-type*='select-one'] .choices__inner {
			padding-bottom: 8px;
		}

		&__inner {
			border: 1px solid var(--color-grey-450);
			border-radius: 4px;
			padding: 8px 32px 8px 8px;
			min-height: 34px;
		}
	}
}
