.header {
	@include mq(lg, min) {
		padding-top: 12px;
	}

	&__container {
		@include mq(lg, min) {
			margin: 0 auto;
			padding: 0 24px;
			max-width: 1168px;
		}
	}

	&__wrapper {
		@include mq(lg, min) {
			display: flex;
			margin-bottom: 35px;
			width: 100%;
			gap: 50px;
		}
	}

	&__top {
		position: relative;
		z-index: 20;
		flex-shrink: 0;
		background-color: var(--color-white);

		@include mq(lg) {
			@include flex-alignment(20px, space-between);

			flex-shrink: unset;
			padding: 16px 24px;
		}
	}

	&__head {
		@include flex-alignment(40px, space-between);
	}

	&__inner {
		@include mq(lg, min) {
			width: 100%;
		}
	}

	&__menu {
		width: 100%;

		@include mq(lg, min) {
			border-bottom: 1px solid var(--color-orange-300);
			padding-bottom: 12px;
		}
	}

	&__info {
		display: flex;
		padding-top: 12px;
		gap: 32px;

		@include mq(lg) {
			display: none;
		}
	}

	&__name {
		margin-right: auto;
		width: 100%;
		max-width: 240px;
		font-weight: 700;
	}

	.form {
		@include mq(lg) {
			padding: 0 24px;
		}

		@include mq(md) {
			padding: 0 16px;
		}

		&__field {
			height: 100%;
		}
	}

	&__search {
		position: relative;
		display: flex;
	}

	&__select {
		max-width: 200px;

		@include mq(lg) {
			display: none;
		}
	}
}
