.header {
	.menu {
		color: var(--color-brown-300);

		@include mq(lg) {
			position: fixed;
			right: 0;
			top: 0;
			display: none;
			overflow: hidden;
			padding: 90px 24px 36px;
			width: 100%;
			background-color: var(--color-white);
			visibility: hidden;
			transform: translateX(100%);
			transition: transform 0.5s;
		}

		@include mq(md) {
			padding: 85px 16px 16px;
		}

		&--active {
			@include mq(lg) {
				right: 0;
				z-index: 5;
				display: flex;
				overflow-y: auto;
				height: 100dvh;
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				transition: transform 0.3s ease-in-out;
			}
		}

		&__base {
			@include flex-simple(32px);

			align-items: center;

			&--hidden {
				display: none;
			}

			@include mq(lg) {
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
			}
		}

		&__user {
			@include flex-alignment(20px, space-between);

			border-bottom: 1px solid var(--color-red-500);
			padding-bottom: 24px;
			width: 100%;
			color: var(--color-red-500);

			@include mq(lg, min) {
				display: none;
			}
		}

		&__private {
			align-self: flex-start;
			padding: 8px 25px;

			@include mq(lg) {
				display: none;
			}

			&--mobile {
				display: none;

				@include mq(lg) {
					display: flex;
					width: 100%;
				}
			}
		}

		&__items {
			@include flex-simple(24px, column);

			margin-bottom: 25px;
			width: 100%;
			font-size: 16px;

			@include mq(lg, min) {
				flex-direction: row;
				margin-right: auto;
				margin-bottom: 0;
				width: auto;
				font-size: 13px;
				gap: 32px;
			}
		}

		&__item {
			&--mobile {
				@include mq(lg, min) {
					display: none;
				}
			}

			&--highlight {
				border-bottom: 1px solid var(--color-red-500);
				padding-bottom: 24px;
			}
		}

		.hotline {
			@include mq(lg, min) {
				display: none;
			}

			&__link {
				@include mq(lg, min) {
					font-size: 24px;
				}
			}

			&__descr {
				@include mq(lg, min) {
					font-size: 12px;
				}
			}
		}

		&__link {
			@include color-effects;
		}

		&__version {
			@include color-effects;
			@include flex-simple(12px);

			align-items: center;

			@include mq(lg) {
				order: 1;
			}

			svg {
				width: 30px;
				height: 10px;
			}
		}

		&__return {
			width: 20px;
			height: 20px;
			transform: rotate(180deg);

			svg {
				width: 100%;
				height: 100%;
			}
		}

		.side-menu {
			@include flex-simple(18px, column);

			position: static;
			top: unset;
			flex-basis: auto;
			width: 100%;

			@include mq(lg, min) {
				display: none;
			}

			&__items {
				@include mq(lg) {
					@include flex-simple(18px, column);
				}

				&:not(:last-child) {
					margin-bottom: 0;
				}

				&--links-block {
					.side-menu {
						&__link {
							padding: 16px;
						}
					}
				}
			}

			&__link {
				padding: 0;
				font-size: 14px;
				text-decoration: none;
				color: var(--color-brown-600);
			}
		}

		.profile-menu {
			display: none;

			&--visible {
				display: flex;
			}
		}
	}
}
