.download-info {
	display: flex;
	font-size: 12px;
	color: var(--color-grey-100);
	gap: 20px;

	&__content {
		@include flex-simple(12px, column);
	}

	&__link {
		@include color-effects(var(--color-white), var(--color-white));
		@include flex-simple(8px);

		position: relative;
		width: max-content;
		color: var(--color-red-500);

		svg {
			width: 16px;
			height: 16px;
		}
	}

	&__qr {
		@include flex-alignment(0);

		flex-shrink: 0;
		flex-basis: 60px;
		border-radius: 8px;
		padding: 12px;
		height: 60px;
		background-color: var(--color-white);

		@include mq(md) {
			display: none;
		}
	}

	&__img {
		width: 48px;
		height: 48px;
		object-fit: contain;
	}
}
