.ymaps3x0--marker--active {
	z-index: 5 !important;
}

.map-balloon {
	@include card(16px, var(--color-white));
	@include flex-simple(20px, column);

	position: absolute;
	right: 60px;
	top: 50%;
	z-index: 5;
	border-radius: 12px;
	width: 306px;
	visibility: visible;
	transform: translateY(-55%);
	transition: transform 0.3s;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
		border: inherit;
		border-radius: 0 0 0 0.25em;
		width: 20px;
		height: 20px;
		background-color: inherit;
		transform: rotate(-135deg) translateX(-70%);
	}

	&--hidden {
		z-index: -1;
		visibility: hidden;
		transform: translateY(-20%);
	}

	&__header {
		@include flex-alignment(20px, space-between, flex-start);
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2;
	}

	&__close {
		@include bg-properties(contain);
		@include focus-visible;

		flex-shrink: 0;
		flex-basis: 24px;
		height: 24px;
		background-image: url('../img/icons/close.svg');
		filter: invert(13%) sepia(23%) saturate(4336%) hue-rotate(354deg)
			brightness(97%) contrast(93%);
		transition:
			filter 0.3s,
			box-shadow 0.3s,
			border-radius 0.3s;

		@media (any-hover: hover) {
			&:hover {
				filter: invert(59%) sepia(66%) saturate(6322%) hue-rotate(341deg)
					brightness(98%) contrast(91%);
			}
		}
	}

	&__body {
		line-height: 1.6;

		a {
			@include color-effects;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}

.marker {
	&--hidden {
		display: none;
	}

	&__button {
		@include bg-properties(contain);

		display: inline-block;
		width: 40px;
		height: 40px;
		background-image: url('../img/icons/pin.svg');

		&--hidden {
			display: none;
		}
	}

	span.marker__button {
		pointer-events: none;
	}
}
