.office-link {
	position: relative;
	padding-left: 32px;
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 14px;
	text-decoration: underline;
	color: var(--color-red-500);

	&::before {
		@include bg-properties(contain);

		content: '';
		position: absolute;
		left: 0;
		top: -6px;
		width: 24px;
		height: 24px;
		filter: invert(39%) sepia(97%) saturate(2430%) hue-rotate(342deg)
			brightness(98%) contrast(90%);
	}

	&--car {
		&::before {
			background-image: url('../img/icons/car.svg');
		}
	}

	&--map {
		&::before {
			background-image: url('../img/icons/map.svg');
		}
	}
}
