.page {
	padding: 24px 0 80px;

	@include mq(md) {
		padding-bottom: 64px;
	}

	&__title {
		@include title;

		@include mq(md) {
			font-size: 24px;
		}
	}
}

.page-private {
	padding: 40px 0 80px;

	@include mq(md) {
		padding-bottom: 64px;
	}

	&__title {
		@include title(24px, 32px);

		border-bottom: 1px solid var(--color-grey-500);
		padding-bottom: 28px;

		@include mq(md) {
			padding-bottom: 24px;
		}
	}

	.page-wrapper {
		flex-direction: row;

		&__content {
			@include mq(md) {
				width: 100%;
			}
		}
	}

	.side-menu {
		@include mq(md) {
			display: none;
		}

		&__items {
			@include flex-simple(12px, column);
		}

		&__link {
			padding: 0;
			line-height: 1.4;
			text-align: right;
		}
	}
}
