.popular-services {
	padding-top: 54px;

	@include mq(lg) {
		padding-top: 40px;
	}

	&__items {
		column-count: 2;
		orphans: 1;
		widows: 1;
		gap: 8px 30px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		@include mq(lg) {
			column-count: 1;
		}
	}

	&__item {
		break-inside: avoid;
	}

	&__link {
		@include underline-effects;

		color: var(--color-red-500);

		@include mq(lg, min) {
			display: none;
		}
	}
}
