.gallery-page {
	.select {
		margin-bottom: 30px;
		width: 82.5%;

		@include mq(md) {
			margin-bottom: 24px;
			width: 100%;
		}
	}

	.swiper-container {
		&__buttons,
		&__button {
			@include mq(md) {
				display: none;
			}
		}
	}

	&__wrapper {
		position: relative;
		padding-bottom: 38.5%;

		@include mq(md) {
			padding-bottom: 73.5%;
		}
	}

	&__sliders {
		@include flex-simple(3%);

		position: absolute;
		width: 100%;
		height: 100%;

		@include mq(md) {
			flex-direction: column;
			gap: 24px;
		}
	}

	&__main {
		position: relative;
		flex-basis: 82.5%;
		overflow: hidden;
	}

	&__img {
		border-radius: 4px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__thumbs {
		position: relative;
		flex-grow: 1;
		flex-basis: 14.5%;

		.swiper-container {
			&__button {
				position: absolute;
				right: 50%;
				z-index: 2;
				transform: translateX(-50%);

				&--prev {
					top: -16px;
					transform: translate(50%, -65%) rotate(-90deg);
				}

				&--next {
					bottom: -16px;
					transform: translate(50%, 50%) rotate(90deg);
				}
			}
		}
	}

	&__small {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&__thumb {
		border: 2px solid transparent;
		border-radius: 6px;
		width: 100%;
		height: 97px;
		transition: border-color 0.3s;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--color-red-300);
			}
		}

		@include mq(md) {
			width: 109px;
			height: 65px;
		}

		&.swiper-slide-thumb-active {
			border-color: var(--color-red-500);
			pointer-events: none;
		}
	}

	&__button {
		@include mq(md) {
			display: none;
		}
	}
}
