.services-page {
	&__form {
		margin-bottom: 32px;

		@include mq(lg) {
			margin-bottom: 16px;
		}
	}

	&__items {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	.tabs {
		&__nav {
			margin-bottom: 32px;
		}

		&__nav-btn {
			&--active {
				border-color: transparent;
				box-shadow: 0 0 0 2px var(--color-red-500);
				background-color: transparent;
			}
		}
	}
}
