.services-filters {
	&__manage {
		@include flex-alignment(20px, space-between);

		@include mq(lg, min) {
			display: none;
		}
	}

	&__show {
		position: relative;
		padding-left: 28px;
		font-family: var(--font-secondary);
		font-weight: 700;
		font-size: 16px;
		color: var(--color-red-500);

		&::before {
			@include bg-properties(contain);

			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/equalize.svg');
			filter: invert(48%) sepia(70%) saturate(3118%) hue-rotate(336deg)
				brightness(93%) contrast(102%);
		}
	}

	&__close {
		@include bg-properties(contain);

		display: none;
		width: 24px;
		height: 24px;
		background-image: url('../img/icons/close.svg');
		filter: invert(48%) sepia(70%) saturate(3118%) hue-rotate(336deg)
			brightness(93%) contrast(102%);

		&--visible {
			display: flex;
		}
	}

	&__wrapper {
		@include flex-simple(40px, column);

		@include mq(lg) {
			display: none;
			gap: 32px;
		}

		&--visible {
			@include mq(lg) {
				display: flex;
				padding-top: 16px;
			}
		}
	}

	&__radio {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px 32px;

		@include mq(lg) {
			grid-template-columns: 1fr;
		}
	}

	&__selects {
		@include flex-simple(32px);

		position: relative;
		padding-bottom: 8px;

		@include mq(lg) {
			padding-bottom: 0;
			gap: 16px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 5;
			width: 100%;
			height: 2px;
			background-color: var(--color-red-500);

			@include mq(lg) {
				display: none;
			}
		}

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__select {
		@include mq(lg) {
			position: relative;
		}

		&::before {
			@include mq(lg) {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: var(--color-red-500);
			}
		}
	}

	&__box {
		@include flex-simple(8px, row-reverse);

		justify-content: flex-end;
		line-height: 1.3;

		@include mq(lg) {
			line-height: 1.6;
		}
	}
}
