.services-page {
	&__title {
		@include title;

		@include mq(lg) {
			margin-bottom: 24px;
			font-size: 24px;
		}
	}

	&__items {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	.tabs {
		&__nav-btn {
			&--active {
				border-color: transparent;
				box-shadow: 0 0 0 2px var(--color-red-500);
				background-color: transparent;
			}
		}
	}
}
