.services-filters {
	margin-bottom: 24px;

	@include mq(lg) {
		display: none;
	}

	@include mq(md) {
		margin-bottom: 8px;
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__radio {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px 32px;
	}

	&__selects {
		@include flex-simple(32px);

		position: relative;
		padding-bottom: 8px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 5;
			width: 100%;
			height: 2px;
			background-color: var(--color-red-500);
		}
	}

	&__box {
		@include flex-simple(8px, row-reverse);

		justify-content: flex-end;
		line-height: 1.3;
	}
}
