@mixin title($fz: 32px, $mb: 24px) {
	margin-bottom: $mb;
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: $fz;

	sup {
		font-size: 14px;
		color: var(--color-red-500);
	}
}

@mixin card($padding: 16px, $bg: var(--color-grey-60)) {
	border-radius: 4px;
	padding: $padding;
	background-color: $bg;
}
