.offices-page {
	.select {
		margin-bottom: 32px;

		@include mq(md) {
			margin-bottom: 28px;
		}
	}

	&__links {
		@include flex-simple(16px 24px);

		flex-wrap: wrap;
		margin-bottom: 24px;

		@include mq(md) {
			margin-bottom: 32px;
		}
	}

	&__buttons {
		@include flex-simple(8px);

		flex-wrap: wrap;
		margin-bottom: 32px;
	}

	&__button {
		border-color: var(--color-red-500);

		&--active {
			color: var(--color-red-500);
			background-color: var(--color-red-100);
		}
	}

	&__map {
		width: 100%;
		height: 415px;

		iframe,
		div[data-map] {
			width: 100%;
			height: 100%;
		}

		iframe {
			border: 0;
			border-radius: 4px;
		}

		.marker {
			&--hidden {
				display: none;
			}

			&__button {
				@include bg-properties(contain);

				width: 40px;
				height: 40px;
				background-image: url('../img/icons/pin.svg');

				&--hidden {
					display: none;
				}
			}
		}

		.map-balloon {
			@include card(16px, var(--color-white));
			@include flex-simple(20px, column);

			position: absolute;
			right: 60px;
			top: 50%;
			z-index: 5;
			border-radius: 12px;
			width: 306px;
			visibility: visible;
			transform: translateY(-55%);
			transition: transform 0.3s;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
				border: inherit;
				border-radius: 0 0 0 0.25em;
				width: 20px;
				height: 20px;
				background-color: inherit;
				transform: rotate(-135deg) translateX(-70%);
			}

			&--hidden {
				z-index: -1;
				visibility: hidden;
				transform: translateY(-20%);
			}

			&__header {
				@include flex-alignment(20px, space-between, flex-start);
			}

			&__title {
				font-weight: 700;
				font-size: 16px;
				line-height: 1.2;
			}

			&__close {
				@include bg-properties(contain);

				flex-shrink: 0;
				flex-basis: 24px;
				height: 24px;
				background-image: url('../img/icons/close.svg');
				filter: invert(13%) sepia(23%) saturate(4336%) hue-rotate(354deg)
					brightness(97%) contrast(93%);
			}

			&__body {
				line-height: 1.6;

				p {
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}
